node_modules/
.next/
out/
build/
dist/

# env files
.env
.env.local
.env.development.local
.env.production.local
api/.env

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.vscode/
.idea/

# prisma
*.db
*.db-journal

# flutter (for later)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/ios/Pods/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
mobile/build/
